@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #29aaff;
  --secondary: #f9c300;
  --text: #112d4e;
  --background: #f9f7f7;
}

.dark {
  --primary: #29aaff;
  --secondary: #bbdc00;
  --text: #f9f7f7;
  --background: #222831;
}

@theme {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Hubot Sans", sans-serif;

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text: var(--text);
  --color-background: var(--background);
}

button {
  cursor: pointer;
}

.blog-content {
  h1,
  h2,
  h3,
  h4 {
    font-weight: 800;
    font-family: "Hubot Sans", sans-serif;
    margin: 20px 0 12px 0;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
    font-weight: 300;
  }
  ul {
    list-style: disc;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 300;
  }
  ul li {
    margin-bottom: 8px;
  }
  a {
    font-size: 16px;
    color: var(--primary);
    text-decoration: underline;
    font-weight: 500;
  }
  img {
    width: 100%;
    display: block;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .blog-content {
    h1,
    h2,
    h3,
    h4 {
      margin: 12px 0 4px 0;
    }
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      font-weight: 300;
    }
    ul {
      font-size: 14px;
    }
    a {
      font-size: 14px;
    }
  }
}

::selection {
  background-color: var(--secondary);
  color: var(--background);
}

.paragraph {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}
