@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --grey: #eee;
  --black: #000;
  --white: #fff;
}

.dark {
  --grey: #333;
  --black: #fff;
  --white: #000;
}

@theme {
  --color-grey: var(--grey);
  --color-black: var(--black);
  --color-white: var(--white);
}

* {
  font-family: "Courier Prime", monospace;
  letter-spacing: -1px;
  word-spacing: -3px;
}

button {
  cursor: pointer;
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

.paragraph {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.blog-content {
  h1,
  h2,
  h3,
  h4 {
    font-weight: 800;
    margin: 20px 0 12px 0;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
    font-weight: 300;
  }
  ul {
    list-style: disc;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 300;
  }
  ul li {
    margin-bottom: 8px;
  }
  a {
    font-size: 16px;
    color: var(--primary);
    text-decoration: underline;
    font-weight: 500;
  }
  img {
    width: 100%;
    display: block;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .blog-content {
    h1,
    h2,
    h3,
    h4 {
      margin: 12px 0 4px 0;
    }
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      font-weight: 300;
    }
    ul {
      font-size: 14px;
    }
    a {
      font-size: 14px;
    }
  }
}
